@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    position: relative;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar .user-info {
    display: flex;
    align-items: center;
}

.navbar .profile-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .username {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 8px;
}

.navbar ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 6px 13px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}

.center {
    text-align: center;
    padding-top: 100px; /* To offset the fixed navbar */
}

.center h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.center h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.center .buttons {
    margin: 35px 0;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #ffb3b3;
    background: red;
    outline: none;
    cursor: pointer;
    border: 1px solid #cc0000;
    border-radius: 25px;
    transition: .4s;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons button:hover {
    background: #cc0000;
}

.footer {
    background-color: #1d2731;
    color: white;
    padding: 40px 0 20px;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
