<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylee.css">
    <title>AI Personal Trainer</title>
</head>
<body>
    <div class="container">
        <video autoplay loop muted playsinline class="background-clip">
            <source src="/img/video2.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>AI Personal Trainer</h1>
            <a href="https://ishan-python-gym-bot-fdatlz9rhswbvyxjp92pfr.streamlit.app/">Start Training</a>
            <div class="rules">
                <h2>Rules to Use Chat Bot:</h2>
                <p>1. Specify your name and height weight properly.</p>
                <p>2. Provide accurate details about your fitness goals.</p>
                <p>3. Be consistent with your input for better results.</p>
                <p>4. Follow the instructions given by the AI trainer closely.</p>
                <p>5. Report any issues or discrepancies for improvements.</p>
            </div>
        </div>
    </div>
</body>
</html>
