<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/app.css">
    <title>Modern Login Page</title>
</head>

<body>
    <div class="container" id="container">
    
        <div class="form-container sign-in">
            <form action='/create' method='POST' id="signupForm">
                <h1>Sign up</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>

                    
                </div>
                <span>or use your email password</span>
                <input name='name' type="text" placeholder="Name" required>
                <input name='email' type="email" placeholder="Email" required>
                <input name='password' type="password" placeholder="Password" required>
                <a href="#">Forget Your Password?</a>
                <button type="submit" id="signupButton">Sign Up</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <a href="/login" ><button class="hidden" id="register">Sign in</button></a>
                    
          
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript for form validation
        document.getElementById("signupForm").addEventListener("submit", function(event) {
            const nameInput = document.getElementById("name");
            const emailInput = document.getElementById("email");
            const passwordInput = document.getElementById("password");
            const signupButton = document.getElementById("signupButton");

            if (!nameInput.value || !emailInput.value || !passwordInput.value) {
                alert("Please fill in all fields.");
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
</body>

</html>
